$body-font: 'open_sans', sans-serif;
$base-font-size: 12px;
$line-height: 1.2;
$font-color: #2e2e2e;
$button-color: #e24420;
$grid-border-color: #c2c2c2;
$image-border-color: #dbdbdb;
$smallbreakpoint: 600px;
$largebreakpoint: 1000px;

