@import "reset";
@import "fonts";
@import "variables";
@import "mixin";


/*-----------------------------------------*/
/* Extra Resetting */
/*-----------------------------------------*/


* {
  box-sizing: border-box; }

strong, b, strong *, b * {
  font-style: normal;
  font-weight: bold !important; }

em, i, em *, i * {
  font-style: italic; }

fieldset,
img,
a img {
  border: 0; }

//////
/*-----------------------------------------*/
/* Global */
/*-----------------------------------------*/

html {
    font-size: $base-font-size;
  }

body {
  font-family: $body-font;
  font-weight: lighter;
  line-height: $line-height;
  font-size: $base-font-size;
  color: $font-color;
  height: 100%;
  position: absolute;
  width: 100%;
  @include bp(tablet) {
    .photo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
  
  }
}

/*-----------------------------------------*/
/* Helpers */
/*-----------------------------------------*/

.clearfix:before,
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}


/*-----------------------------------------*/
/* Header */
/*-----------------------------------------*/

header {
  text-align: center;

  @include bp(tablet) {
    text-align: left;
    margin: 2%;
  }
}

.logo {
   
   width: 25%;
   min-width: 150px;
   margin-top: 2%;
   margin-bottom: 2%;

}

/*-----------------------------------------*/
/* Sections */
/*-----------------------------------------*/
.search-bg{
  min-width: 200px;
  height: auto;
  border: 1px solid #c2c2c2;
  padding: 2%;
  margin: 5%;
  border-radius: 5px;
}

.section-search{
  background: url("../images/pattern.png");
  background-size: cover;
  max-width: 100%;
  overflow: hidden;
}
 

.photo-widget {
 display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;

}

.icon {
   width: 20%;
   margin-bottom: 5%;
   margin-top: 2%;
   max-width: 150px;
}

#tag-search{
    display: flex;
    background: white;
    text-align: left;
    margin-bottom: 10px;
}

#tags{
flex: 1;
border: none;
padding-left: 5%;
       
}

button {
      border: none;
      background-color: white;
      color: #dbdbdb;
      font-size: 15px;
      padding: 2%;
      margin-bottom: 5%;
    }


/* Results */

.photo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 5px 10px 0 5px;
}

.pics {
  flex-wrap: wrap;
  border: 2px solid #C6C8C8;
  margin: 10px 0 0 10px;
  justify-content: center; 
  img {
  width: 100%;
  @include bp(tablet) {
    width: 250px;
  }
  @include bp(tablet) {
    width: 200px;
  }
  }

}

.profile-photo {
  display:flex;
  justify-content:space-between;

  img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow:hidden;
  margin:1rem;
  }

  .comments {
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align: right;
    font-weight: bold;
    margin:10px;
    padding-top: 10px;
    }

  .fa {
    padding: 5px;
    margin-right: 5px;
  }
}


/* Footer*/

.copyright{
    margin: 0 auto;
    margin-top: 10px;
    font-family: $body-font;
    text-align: center;
    font-weight: lighter;
    border-top: 1px solid $grid-border-color; 
    width: 85%;
    padding: 10px
}