<div class="wrapper">
    <div class="site-container check-in">

        <!-- FORM -->

        <form id="form" class="form" name="reportForm" ng-submit="submitReport($event,reportForm)" novalidate target="#" ng-class="{'show-errors':showErrors}">
            <h1>Report Encounter</h1>
            <h3 class="page-sub-heading-white">Saftey on Mars is your responsibility</h3>
            <div class="content">
                <div id="section0">
                    <!-- alien type -->
                    <div class="field" ng-class="{ 'has-error' : showErrors }">
                        <div class="custom-select">
                            <select name="alien" select id="alienType" ng-model="report.atype" required ng-class="{placeholder: !alien.id}">
                                <option value="">Select alien type</option>
                                <option value="{{alien.id}}" ng-repeat="alien in aliens">{{alien.type}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- action taken -->

                <textarea ng-class="{ 'has-error' : showErrors }" placeholder="Action taken" ng-model="report.action" name="action" id="action" rows="10" required=""></textarea>
                <!-- check in -->

                <div class="button-report">
                   <!--  <label for="Submit"></label> -->
                    <input type="submit" id="Submit-Report" name="Submit Report" value="Submit">
                </div>
            </div>
    </div>
    </form>
</div>
</div>