<div class="wrapper">
 <div ng-app="formApp" ng-controller="ReportFormController" class="site-container check-in">
    

<!-- FORM -->

  <form id="form" class="form" name="form" ng-submit="submitForm(form.$valid)" novalidate method="post" target="#" enctype="text/plain" accept-charset="UTF-8" ng-class="{'show-errors':showErrors}">
    <h1>Report Encounter</h1>
    <h3 class="page-sub-heading-white">Saftey on Mars is your responsibility</h3>
    <div class="content">
        
        <div id="section0" >
                
            <!-- alient type -->
<div class="field">
        <div class="custom-select">
              <select id="alientType" ng-model="formData.alientType" required>
                <option value="">Select alient type</option>
                <option value="Lizard Man">Lizard Man</option>
                <option value="Giant Slug">Giant Slug</option>
                <option value="Rogue Android">Rogue Android</option>
                <option value="Octospider">Octospider</option>
                <option value="Spiderpus">Spiderpus</option>
        </select></div></div>
              


              <!-- action taken -->

          <textarea ng-class="{ 'has-error' : erroraction }"placeholder="Action taken" ng-model="formData.action" name="action" id="action" rows="10" required=""></textarea>
                     

 <!-- check in -->
            <div class="button"><label for="Submit"></label><input  type="submit" id="Submit-Report" name="Submit Report" value="Submit"></div>
        </div>
    </div> 
</form>

</div>